.dropbtn {
  background-color: #e474ee;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  min-width: 165px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #dbabab;
  min-width: 165px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content option {
  color: rgb(230, 53, 112);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content option:hover {background-color: rgba(194, 47, 108, 0.253);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #e474ee;}
